* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

@font-face {
  font-family: "Space Mono", monospace;
  src: url(../../fonts/Space_Mono/SpaceMono-Bold.ttf);
}
@font-face {
  font-family: "Lexend Deca", sans-serif;
  src: url(../../fonts/Lexend_Deca/static/LexendDeca-Regular.ttf);
}
@font-face {
  font-family: "Space Mono", monospace;
  src: url(../../fonts/Space_Mono/SpaceMono-Bold.ttf);
}
@font-face {
  font-family: "Lexend Deca", sans-serif;
  src: url(../../fonts/Lexend_Deca/static/LexendDeca-Regular.ttf);
}
body {
  font-family: "Space Mono", monospace;
  overflow-x: hidden;
}

.container {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0 34px 0;
}
.navbar__left {
  display: flex;
  column-gap: 59px;
  align-items: center;
}
.navbar__left__menu {
  display: flex;
  column-gap: 32px;
}
.navbar__left__menu__list {
  color: #939CAA;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
}
@media (max-width: 640px) {
  .navbar__left__menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 22px;
    left: 0;
    height: 100vh;
    width: 256px;
    row-gap: 24px;
    padding: 64px 32px;
    transform: translateX(-100%);
  }
}
@media (max-width: 640px) {
  .navbar__left__logo {
    margin: 0 auto;
  }
}
.navbar .button button {
  padding: 14px 39px;
  color: white;
  background-color: #FCB72B;
  border: none;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
}
.navbar__add {
  display: none;
}
@media (max-width: 640px) {
  .navbar__add {
    display: block;
  }
}
@media (max-width: 640px) {
  .navbar__remove__btn {
    display: none;
  }
}

.show {
  transform: translateX(0);
}

.bg {
  position: relative;
  background-image: url(../../images/header/Bitmap\ \(2\).jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 768px;
}
@media (max-width: 950px) {
  .bg {
    background-image: url(../../images/header/tablet-bg.jpg);
  }
}
.bg .hero {
  padding: 153px 0 0;
}
.bg .hero__title {
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  color: white;
  max-width: 500px;
}
@media (max-width: 640px) {
  .bg .hero__title {
    max-width: 311px;
    font-size: 40px;
    line-height: 40px;
  }
}
.bg .hero__bottom {
  display: flex;
  justify-content: space-between;
  column-gap: 40px;
  position: relative;
}
.bg .hero__bottom__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: white;
  max-width: 380px;
  font-family: "Lexend Deca", sans-serif;
  margin: 40px 0 40px 100px;
}
@media (max-width: 950px) {
  .bg .hero__bottom__text {
    margin: 40px 0;
  }
}
@media (max-width: 640px) {
  .bg .hero__bottom__text {
    max-width: 311px;
  }
}
.bg .hero__bottom__first {
  position: absolute;
  left: -180px;
  top: 75px;
  max-width: 202px;
}
@media (max-width: 950px) {
  .bg .hero__bottom__first {
    display: none;
  }
}
@media (max-width: 1017px) {
  .bg .hero__bottom__first {
    width: 400px;
  }
}
.bg .hero__bottom__last {
  position: absolute;
  left: 540px;
  top: 75px;
  max-width: 446px;
}
@media (max-width: 1017px) {
  .bg .hero__bottom__last {
    left: 500px;
    width: 400px;
  }
}
@media (max-width: 950px) {
  .bg .hero__bottom__last {
    top: 250px;
    left: -385px;
    display: none;
  }
}
.bg .hero .button-2 .button {
  padding: 14px 39px;
  color: white;
  background-color: #FCB72B;
  border: none;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  margin-left: 90px;
}
@media (max-width: 950px) {
  .bg .hero .button-2 .button {
    margin: 0;
  }
}
@media (max-width: 950px) {
  .bg .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 768px;
  }
}
.bg .hero__last {
  display: none;
}
@media (max-width: 950px) {
  .bg .hero__last {
    display: block;
    margin: 10px 500px 0 0;
  }
}
@media (max-width: 640px) {
  .bg .hero__last {
    margin: 7px 0 0 -743px;
    display: none;
  }
}
.bg .hero .arrow-mobile {
  display: none;
}
@media (max-width: 640px) {
  .bg .hero .arrow-mobile {
    display: flex;
    width: 100%;
    justify-content: start;
    margin-left: -58px;
  }
}

.telemetry {
  display: flex;
  flex-direction: column;
  margin-top: 122px;
}
.telemetry__oval-path {
  display: flex;
  align-items: center;
  position: relative;
}
.telemetry__oval-path__spans {
  display: flex;
  align-items: center;
  position: absolute;
  left: -200px;
}
.telemetry__oval-path__spans .oval {
  width: 96px;
  height: 96px;
  border-radius: 100%;
  background-color: #FCB72B;
  display: flex;
  justify-content: center;
  align-items: center;
}
.telemetry__oval-path__spans .oval img {
  width: 38.38px;
  height: 47.97px;
}
@media (max-width: 640px) {
  .telemetry__oval-path__spans .oval {
    margin-bottom: 220px;
  }
}
.telemetry__oval-path__spans .path {
  width: 260px;
  height: 10px;
  background-color: #E5ECF4;
}
@media (max-width: 950px) {
  .telemetry__oval-path__spans .path {
    width: 15px;
    height: 115px;
  }
}
@media (max-width: 640px) {
  .telemetry__oval-path__spans .path {
    display: none;
  }
}
@media (max-width: 950px) {
  .telemetry__oval-path__spans {
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    top: -122px;
  }
}
@media (max-width: 640px) {
  .telemetry__oval-path__spans {
    margin: 0 auto;
    width: 375px;
  }
}
.telemetry__box {
  display: flex;
  column-gap: 30px;
}
@media (max-width: 950px) {
  .telemetry__box {
    flex-direction: column;
  }
}
.telemetry__block {
  margin-top: 100px;
}
@media (max-width: 640px) {
  .telemetry__block {
    text-align: center;
  }
}
@media (max-width: 950px) {
  .telemetry__block {
    margin-top: 0;
    margin-bottom: 40px;
  }
}
@media (max-width: 640px) {
  .telemetry__block {
    margin-bottom: 160px;
  }
}
.telemetry__block__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #495567;
}
.telemetry__block__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  max-width: 360px;
  color: #939CAA;
  margin-top: 27px;
}
@media (max-width: 950px) {
  .telemetry {
    display: flex;
    justify-content: space-around;
    flex-direction: unset;
  }
}
@media (max-width: 640px) {
  .telemetry {
    width: 375px;
    margin: 320px auto;
  }
}/*# sourceMappingURL=main.css.map */