* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

@font-face {
  font-family: "Space Mono", monospace;
  src: url(../../fonts/Space_Mono/SpaceMono-Bold.ttf);
}
@font-face {
  font-family: "Lexend Deca", sans-serif;
  src: url(../../fonts/Lexend_Deca/static/LexendDeca-Regular.ttf);
}
@font-face {
  font-family: "Space Mono", monospace;
  src: url(../../fonts/Space_Mono/SpaceMono-Bold.ttf);
}
@font-face {
  font-family: "Lexend Deca", sans-serif;
  src: url(../../fonts/Lexend_Deca/static/LexendDeca-Regular.ttf);
}
body {
  font-family: "Space Mono", monospace;
  overflow-x: hidden;
}

.container {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0 34px 0;
}
.navbar__left {
  display: flex;
  column-gap: 59px;
  align-items: center;
}
.navbar__left__menu {
  display: flex;
  column-gap: 32px;
  transition: 0.3s;
}
.navbar__left__menu .this {
  row-gap: 1100px;
}
.navbar__left__menu__list {
  color: #939CAA;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
}
@media (max-width: 640px) {
  .navbar__left__menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 65px;
    left: 0;
    height: 100vh;
    width: 500px;
    row-gap: 24px;
    padding: 64px 70px;
    transform: translateX(-100%);
    background-color: #333A44;
  }
}
@media (max-width: 575px) {
  .navbar__left__menu {
    padding: 64px 160px;
  }
}
@media (max-width: 640px) {
  .navbar__left__logo {
    margin: 0 auto;
  }
}
.navbar .button button {
  padding: 14px 39px;
  color: white;
  background-color: #FCB72B;
  border-width: 3px;
  border-color: #FCB72B;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
}
.navbar .button button:hover {
  color: #FCB72B;
  background-color: white;
  border-width: 3px;
  border-color: #FCB72B;
}
@media (max-width: 640px) {
  .navbar .button {
    display: none;
  }
}
.navbar .button-2 button {
  padding: 14px 39px;
  color: white;
  background-color: #FCB72B;
  border-width: 3px;
  border-color: #FCB72B;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  display: none;
}
@media (max-width: 640px) {
  .navbar .button-2 button {
    display: block;
  }
}
.navbar .button-2 button:hover {
  color: #FCB72B;
  background-color: white;
  border-width: 3px;
  border-color: #FCB72B;
}
.navbar__add {
  display: none;
}
@media (max-width: 640px) {
  .navbar__add {
    display: block;
    background: none;
    border: none;
  }
}
.navbar__add__btn {
  background: none;
  border: none;
}
.navbar__remove__btn {
  background: none;
  border: none;
}
@media (max-width: 640px) {
  .navbar__remove__btn {
    display: none;
  }
}

.show {
  transform: translateX(0);
  z-index: 3;
  transition: 0.3s;
}

.bg {
  position: relative;
  background-image: url(../../images/header/Bitmap\ \(2\).jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 768px;
}
@media (max-width: 950px) {
  .bg {
    background-image: url(../../images/header/tablet-bg.jpg);
  }
}
.bg .hero {
  padding: 153px 0 0;
}
.bg .hero__title {
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  color: white;
  max-width: 500px;
}
@media (max-width: 640px) {
  .bg .hero__title {
    max-width: 311px;
    font-size: 40px;
    line-height: 40px;
  }
}
.bg .hero__bottom {
  display: flex;
  justify-content: space-between;
  column-gap: 40px;
  position: relative;
}
.bg .hero__bottom__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: white;
  max-width: 380px;
  font-family: "Lexend Deca", sans-serif;
  margin: 40px 0 40px 100px;
}
@media (max-width: 950px) {
  .bg .hero__bottom__text {
    margin: 40px 0;
  }
}
@media (max-width: 640px) {
  .bg .hero__bottom__text {
    max-width: 311px;
  }
}
.bg .hero__bottom__first {
  position: absolute;
  left: -180px;
  top: 75px;
  max-width: 202px;
}
@media (max-width: 950px) {
  .bg .hero__bottom__first {
    display: none;
  }
}
@media (max-width: 1017px) {
  .bg .hero__bottom__first {
    width: 400px;
  }
}
.bg .hero__bottom__last {
  position: absolute;
  left: 540px;
  top: 75px;
  max-width: 446px;
}
@media (max-width: 1017px) {
  .bg .hero__bottom__last {
    left: 500px;
    width: 400px;
  }
}
@media (max-width: 950px) {
  .bg .hero__bottom__last {
    top: 250px;
    left: -385px;
    display: none;
  }
}
.bg .hero .button-2 .button {
  padding: 14px 39px;
  color: white;
  background-color: #FCB72B;
  border-width: 3px;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  margin-left: 90px;
  border-color: #FCB72B;
}
@media (max-width: 950px) {
  .bg .hero .button-2 .button {
    margin: 0;
  }
}
.bg .hero .button-2 .button:hover {
  color: #FCB72B;
  background-color: white;
  border-width: 3px;
  border-color: #FCB72B;
}
@media (max-width: 950px) {
  .bg .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 768px;
  }
}
.bg .hero__last {
  display: none;
}
@media (max-width: 950px) {
  .bg .hero__last {
    display: block;
    margin: 10px 500px 0 0;
  }
}
@media (max-width: 640px) {
  .bg .hero__last {
    margin: 7px 0 0 -743px;
    display: none;
  }
}
.bg .hero .arrow-mobile {
  display: none;
}
@media (max-width: 640px) {
  .bg .hero .arrow-mobile {
    display: flex;
    width: 100%;
    justify-content: start;
    margin-left: -58px;
  }
}

.telemetry {
  display: flex;
  flex-direction: column;
  margin-top: 122px;
}
.telemetry__oval-path {
  display: flex;
  align-items: center;
  position: relative;
}
.telemetry__oval-path__spans {
  display: flex;
  align-items: center;
  position: absolute;
  left: -200px;
}
.telemetry__oval-path__spans .oval {
  width: 96px;
  height: 96px;
  border-radius: 100%;
  background-color: #FCB72B;
  display: flex;
  justify-content: center;
  align-items: center;
}
.telemetry__oval-path__spans .oval img {
  width: 38.38px;
  height: 47.97px;
}
@media (max-width: 640px) {
  .telemetry__oval-path__spans .oval {
    margin-bottom: 220px;
  }
}
.telemetry__oval-path__spans .path {
  width: 260px;
  height: 10px;
  background-color: #E5ECF4;
}
@media (max-width: 950px) {
  .telemetry__oval-path__spans .path {
    width: 15px;
    height: 115px;
  }
}
@media (max-width: 640px) {
  .telemetry__oval-path__spans .path {
    display: none;
  }
}
@media (max-width: 950px) {
  .telemetry__oval-path__spans {
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    top: -122px;
  }
}
@media (max-width: 640px) {
  .telemetry__oval-path__spans {
    margin: 0 auto;
    width: 375px;
  }
}
.telemetry__box {
  display: flex;
  column-gap: 30px;
}
@media (max-width: 950px) {
  .telemetry__box {
    flex-direction: column;
  }
}
.telemetry__block {
  margin-top: 100px;
}
@media (max-width: 640px) {
  .telemetry__block {
    text-align: center;
  }
}
@media (max-width: 950px) {
  .telemetry__block {
    margin-top: 0;
    margin-bottom: 40px;
  }
}
@media (max-width: 640px) {
  .telemetry__block {
    margin-bottom: 160px;
  }
}
.telemetry__block__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #495567;
}
.telemetry__block__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  max-width: 360px;
  color: #939CAA;
  margin-top: 27px;
  font-family: "Lexend Deca", sans-serif;
}
@media (max-width: 950px) {
  .telemetry {
    display: flex;
    justify-content: space-around;
    flex-direction: unset;
  }
}
@media (max-width: 640px) {
  .telemetry {
    width: 375px;
    margin: 320px auto;
  }
}

.section-two {
  position: relative;
}
.section-two .left-right {
  display: flex;
  justify-content: space-between;
}
.section-two .left-right .left {
  position: absolute;
  margin: 200px;
}
.section-two .left-right .right .first-img {
  position: absolute;
  top: 500px;
  right: 0;
  z-index: 3;
}
@media (max-width: 950px) {
  .section-two .left-right .right .first-img {
    top: 400px;
    width: 700px;
  }
}
@media (max-width: 640px) {
  .section-two .left-right .right .first-img {
    top: 100px;
    width: 499px;
    height: 120px;
  }
}
.section-two .left-right .right .second-img {
  position: absolute;
  top: 200px;
  right: 0;
  z-index: 0;
}
@media (max-width: 950px) {
  .section-two .left-right .right .second-img {
    top: 160px;
  }
}
@media (max-width: 640px) {
  .section-two .left-right .right .second-img {
    display: none;
  }
}
.section-two .left-right .right .third-img {
  position: absolute;
  top: 1500px;
  right: 0;
  z-index: 3;
}
@media (max-width: 950px) {
  .section-two .left-right .right .third-img {
    top: 2050px;
  }
}
@media (max-width: 640px) {
  .section-two .left-right .right .third-img {
    top: 1750px;
  }
}
.section-two .left-right .right .fourth-img {
  position: absolute;
  top: 1400px;
  right: 0;
  z-index: 0;
}
@media (max-width: 950px) {
  .section-two .left-right .right .fourth-img {
    top: 2000px;
  }
}
@media (max-width: 640px) {
  .section-two .left-right .right .fourth-img {
    display: none;
  }
}
.section-two .left-right .left .left-first {
  position: absolute;
  top: 600px;
  left: -200px;
  z-index: 3;
}
@media (max-width: 950px) {
  .section-two .left-right .left .left-first {
    top: 900px;
  }
}
@media (max-width: 640px) {
  .section-two .left-right .left .left-first {
    top: 600px;
  }
}
.section-two .left-right .left .left-second {
  position: absolute;
  top: 600px;
  left: -200px;
  z-index: 0;
}
@media (max-width: 950px) {
  .section-two .left-right .left .left-second {
    top: 860px;
  }
}
@media (max-width: 640px) {
  .section-two .left-right .left .left-second {
    display: none;
  }
}

.product {
  margin-top: 200px;
}
.product__card {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 160px;
}
@media (max-width: 950px) {
  .product__card {
    flex-direction: column;
    align-items: center;
    margin-bottom: 230px;
    text-align: center;
  }
}
.product__card img {
  border-radius: 100%;
}
@media (max-width: 950px) {
  .product__card img {
    margin-bottom: 64px;
    z-index: 2;
    width: 311px;
  }
}
.product__card__about__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14px;
  color: #495567;
  max-width: 430px;
}
.product__card__about__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  font-family: "Lexend Deca", sans-serif;
  color: #939CAA;
  max-width: 400px;
  margin: 24px 0 44px 0;
}
@media (max-width: 640px) {
  .product__card__about__text {
    max-width: 300px;
    margin: 24px auto;
  }
}
.product__card button {
  padding: 14px 44px;
  background-color: #FCB72B;
  border-width: 3px;
  color: white;
  font-family: "Space Mono", monospace;
  border-color: #FCB72B;
}
.product__card button:hover {
  color: #FCB72B;
  background-color: white;
  border-width: 3px;
  border-color: #FCB72B;
}
.product .second-card {
  display: flex;
  flex-direction: row;
}
@media (max-width: 950px) {
  .product .second-card {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 950px) {
  .product {
    width: 100%;
    margin: 200px auto;
  }
}
@media (max-width: 640px) {
  .product {
    margin: -100px auto;
  }
}

.bg-color {
  background-color: #495567;
  height: 300px;
  padding: 102px 0;
}
.bg-color .contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bg-color .contact__text__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14px;
  max-width: 400px;
  color: white;
  margin-bottom: 40px;
}
@media (max-width: 640px) {
  .bg-color .contact__text__title {
    font-size: 32px;
  }
}
.bg-color .contact__us {
  display: flex;
  column-gap: 18px;
}
.bg-color .contact__us__appstore {
  background-color: #E5ECF4;
  display: flex;
  align-items: center;
  width: 159px;
  height: 59px;
  border-radius: 5px;
  column-gap: 11px;
  padding: 20px 16px;
}
.bg-color .contact__us__appstore__about__span {
  font-size: 10px;
  color: #495567;
}
.bg-color .contact__us__appstore__about__name {
  font-weight: 700;
  color: #495567;
}
@media (max-width: 950px) {
  .bg-color .contact {
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 950px) {
  .bg-color {
    padding: 84px 0;
  }
}
@media (max-width: 640px) {
  .bg-color {
    padding: 70px 0;
  }
}

footer {
  background-color: #333A44;
  height: 96px;
  padding: 35px 0 32px 0;
}
@media (max-width: 640px) {
  footer {
    height: 438px;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 640px) {
  .footer {
    flex-direction: column;
  }
}
.footer__left {
  display: flex;
  align-items: center;
  column-gap: 58px;
}
@media (max-width: 640px) {
  .footer__left {
    flex-direction: column;
    row-gap: 41px;
  }
}
.footer__left__menu {
  text-align: center;
  display: flex;
  column-gap: 32px;
  color: #939CAA;
}
@media (max-width: 640px) {
  .footer__left__menu {
    flex-direction: column;
    row-gap: 16px;
  }
}
@media (max-width: 640px) {
  .footer {
    row-gap: 85px;
  }
}/*# sourceMappingURL=main.css.map */